[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BuildSys"]
	path = BuildSys
	url = https://github.com/pjumppanen/buildsys
	subdir = BuildSys
[submodule "keep"]
	path = keep
	url = https://github.com/cran/keep
