[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BuildSys"]
	path = BuildSys
	url = https://github.com/pjumppanen/buildsys
	shallow = true
	subdir = BuildSys
	registered = true
[submodule "keep"]
	path = keep
	url = https://github.com/cran/keep
	shallow = true
	registered = true
